In [1]:
import pandas as pd

In [3]:
df_es1 = pd.read_csv('data/results_Spanish_A_2009-2017.txt',encoding = 'gbk')
df_es1.overtime.unique()

array(['4:2', '0:2', '2:2', '1:3', '3:1', '5:0', '3:0', '1:1', '1:2',
       '1:4', '0:1', '4:1', '0:0', '4:0', '1:0', '0:4', '0:3', '2:0',
       '0:5', '2:1', '2:6', '2:3', '7:1', '3:2', '5:1', '2:4', '4:3',
       '5:2', '3:3', '6:1', '0:6', '取消', '3:4', '1:6', '1:5', '6:4', '6:2',
       '6:0', '0:8', '10:2', '7:3', '9:1', '2:5', '2:8', '7:0', '5:3',
       '4:5', '3:5', '0:7', '8:0', '8:1', '3:6'], dtype=object)

In [5]:
df_es1.shape

(3266, 6)

In [6]:
df_es1 = df_es1.loc[df_es1.overtime!='取消']
df_es1.shape

(3264, 6)

In [7]:
df_es1['over_goals'] = pd.to_numeric(df_es1['overtime'].str.split(':').str[0]) + pd.to_numeric(df_es1['overtime'].str.split(':').str[1])
df_es1.head()

         date weekday league       home_away half overtime  over_goals
0  2017-05-22   周日072     西甲     巴萨(-3)VS埃瓦尔  0:1      4:2           6
1  2017-05-22   周日071     西甲     马拉加(+2)VS皇马  0:1      0:2           2
2  2017-05-21   周日060     西甲   塞尔塔(+1)VS皇家社会  0:0      2:2           4
3  2017-05-21   周日059     西甲  巴伦西亚(+1)VS比利亚雷  0:1      1:3           4
4  2017-05-21   周日058     西甲    马竞(-1)VS毕尔巴鄂  2:0      3:1           4

In [11]:
pd.pivot_table(df_es1[['half','overtime','over_goals']], index = 'half', columns = 'over_goals', aggfunc='count')

           overtime                                                          \
over_goals       0      1      2      3      4     5     6    7     8    9
half
0:0           227.0  297.0  254.0  117.0   33.0  14.0   1.0  NaN   NaN  NaN
0:1             NaN   82.0  155.0  128.0   39.0  25.0   7.0  NaN   1.0  NaN
0:2             NaN    NaN   40.0   46.0   35.0  22.0   8.0  2.0   2.0  NaN
0:3             NaN    NaN    NaN    1.0    3.0   6.0   6.0  2.0   3.0  NaN
0:4             NaN    NaN    NaN    NaN    2.0   NaN   1.0  1.0   NaN  1.0
0:5             NaN    NaN    NaN    NaN    NaN   1.0   NaN  NaN   1.0  NaN
1:0             NaN  182.0  218.0  201.0   83.0  29.0   9.0  2.0   1.0  NaN
1:1             NaN    NaN   58.0  106.0  115.0  42.0  19.0  6.0   NaN  NaN
1:2             NaN    NaN    NaN   11.0   25.0  18.0   9.0  6.0   1.0  NaN
1:3             NaN    NaN    NaN    NaN    NaN   3.0   3.0  NaN  20.0  NaN
1:4             NaN    NaN    NaN    NaN    NaN   NaN   1.0  NaN   NaN  NaN
1:5             NaN    NaN    NaN    NaN    NaN   NaN   NaN  NaN   1.0  NaN
2:0             NaN    NaN   42.0   97.0   70.0  41.0  10.0  4.0   2.0  NaN
2:1             NaN    NaN    NaN   21.0   43.0  27.0  13.0  7.0   3.0  1.0
2:2             NaN    NaN    NaN    NaN    4.0   7.0   3.0  3.0   NaN  NaN
2:3             NaN    NaN    NaN    NaN    NaN   4.0   3.0  1.0   NaN  NaN
2:4             NaN    NaN    NaN    NaN    NaN   NaN   NaN  NaN   NaN  1.0
3:0             NaN    NaN    NaN   16.0   14.0  15.0   8.0  7.0   NaN  NaN
3:1             NaN    NaN    NaN    NaN    8.0   NaN  18.0  4.0   2.0  NaN
3:2             NaN    NaN    NaN    NaN    NaN   1.0   1.0  NaN   NaN  NaN
3:3             NaN    NaN    NaN    NaN    NaN   NaN   NaN  NaN   NaN  NaN
4:0             NaN    NaN    NaN    NaN    2.0   5.0   7.0  NaN   NaN  NaN
4:1             NaN    NaN    NaN    NaN    NaN   NaN   3.0  3.0   NaN  NaN
4:2             NaN    NaN    NaN    NaN    NaN   NaN   NaN  NaN   1.0  NaN
5:0             NaN    NaN    NaN    NaN    NaN   NaN   2.0  NaN   1.0  NaN
6:0             NaN    NaN    NaN    NaN    NaN   NaN   NaN  1.0   NaN  NaN


over_goals   10   12
half
0:0         NaN  NaN
0:1         NaN  NaN
0:2         NaN  NaN
0:3         1.0  NaN
0:4         NaN  NaN
0:5         NaN  NaN
1:0         NaN  NaN
1:1         NaN  NaN
1:2         NaN  NaN
1:3         NaN  NaN
1:4         NaN  NaN
1:5         NaN  NaN
2:0         NaN  NaN
2:1         NaN  NaN
2:2         NaN  NaN
2:3         NaN  NaN
2:4         NaN  NaN
3:0         NaN  NaN
3:1         NaN  NaN
3:2         1.0  NaN
3:3         2.0  NaN
4:0         1.0  NaN
4:1         NaN  NaN
4:2         NaN  1.0
5:0         NaN  NaN
6:0         NaN  NaN

In [16]:
pd.pivot_table(df_es1[['half','overtime','over_goals']], index = 'half', columns = 'over_goals', aggfunc='count').to_csv('ES_A.txt',encoding ='gbk')

In [17]:
df_b1 = pd.read_csv('data/results_bundesliga_2009-2017.txt',encoding = 'gbk')
df_b1.overtime.unique()

array(['0:0', '2:6', '2:1', '1:1', '4:1', '2:2', '4:3', '2:0', '3:5',
       '0:2', '4:5', '4:2', '1:4', '1:0', '4:0', '0:6', '3:0', '1:2',
       '2:3', '2:4', '3:1', '5:3', '3:2', '0:1', '3:3', '2:5', '6:0',
       '1:3', '5:2', '6:2', '0:3', '8:0', '5:0', '1:5', '0:4', '4:4',
       '5:1', '0:5', '3:4', '1:6', '0:7', '6:1', '9:2', '5:4', '7:1',
       '7:0', '1:8', '3:6'], dtype=object)

In [18]:
df_b1['over_goals'] = pd.to_numeric(df_b1['overtime'].str.split(':').str[0]) + pd.to_numeric(df_b1['overtime'].str.split(':').str[1])
df_b1.head()

         date weekday league        home_away half overtime  over_goals
0  2017-05-20   周六024     德甲   霍芬海姆(-1)VS奥格斯堡  0:0      0:0           0
1  2017-05-20   周六023     德甲   柏林赫塔(-1)VS勒沃库森  0:3      2:6           8
2  2017-05-20   周六022     德甲     汉堡(-1)VS沃夫斯堡  1:1      2:1           3
3  2017-05-20   周六021     德甲  因戈施塔(+1)VS沙尔克04  1:1      1:1           2
4  2017-05-20   周六020     德甲      拜仁(-2)VS弗赖堡  1:0      4:1           5

In [20]:
df_b1.loc[df_b1.over_goals>0].describe()

        over_goals
count  2272.000000
mean      3.101673
std       1.586978
min       1.000000
25%       2.000000
50%       3.000000
75%       4.000000
max      11.000000

In [24]:
df_b2 = pd.read_csv('data/results_bundesliga2_2009-2017.txt',encoding = 'gbk', sep = '\t')
df_b2.head()

        date weekday league        home_away half overtime goals
0  2017/5/14   周日043     德乙    慕1860(-1)VS波鸿  1:1      1:2     3
1  2017/5/14   周日042     德乙   卡斯鲁厄(+1)VS德累斯顿  1:3      3:4     7
2  2017/5/14   周日041     德乙  汉诺威96(-1)VS斯图加特  1:0      1:0     1
3  2017/5/14   周日040     德乙   维尔茨堡(-1)VS桑德豪森  0:1      0:1     1
4  2017/5/14   周日039     德乙     圣保利(-1)VS菲尔特  0:1      1:1     2

In [29]:
#df_b2['goals'] = df_b2['over_time'].spit(':')[0] + df_b2['over_time'].spit(':')[1]

In [30]:
df_b2.overtime.unique()

array(['1:2', '3:4', '1:0', '0:1', '1:1', '6:0', '2:3', '3:1', '3:0',
       '0:2', '1:3', '4:2', '2:1', '4:0', '2:0', '2:2', '0:0', '3:3',
       '0:3', '3:2', '5:0', '1:4', '4:1', '0:4', '6:2', '2:4', '5:4',
       '6:1', '4:4', '5:2', '4:3', '0:5', '0:6', '6:3', '5:1', '2:5',
       '1:5', '2:6', '1:6', '取消', '3:5', '5:5', '5:3', '4:5', nan], dtype=object)

In [34]:
import numpy as np
df_b2 = df_b2.loc[(df_b2.overtime != '取消')&(df_b2.overtime != np.nan)]

In [35]:
df_b2['over_goals'] = pd.to_numeric(df_b2['overtime'].str.split(':').str[0]) + pd.to_numeric(df_b2['overtime'].str.split(':').str[1])
df_b2.head()

/Users/weizheng/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

        date weekday league        home_away half overtime goals  over_goals
0  2017/5/14   周日043     德乙    慕1860(-1)VS波鸿  1:1      1:2     3         3.0
1  2017/5/14   周日042     德乙   卡斯鲁厄(+1)VS德累斯顿  1:3      3:4     7         7.0
2  2017/5/14   周日041     德乙  汉诺威96(-1)VS斯图加特  1:0      1:0     1         1.0
3  2017/5/14   周日040     德乙   维尔茨堡(-1)VS桑德豪森  0:1      0:1     1         1.0
4  2017/5/14   周日039     德乙     圣保利(-1)VS菲尔特  0:1      1:1     2         2.0

In [39]:
df_b2.loc[df_b2.over_goals>0].describe()

        over_goals
count  2213.000000
mean      2.863986
std       1.474629
min       1.000000
25%       2.000000
50%       3.000000
75%       4.000000
max      10.000000

In [40]:
df_es1.describe()

        over_goals
count  3264.000000
mean      2.777880
std       1.732136
min       0.000000
25%       2.000000
50%       3.000000
75%       4.000000
max      12.000000

In [41]:
df_es1.loc[df_es1.over_goals>0].describe()

        over_goals
count  3037.000000
mean      2.985512
std       1.613857
min       1.000000
25%       2.000000
50%       3.000000
75%       4.000000
max      12.000000

In [42]:
df_it1 = pd.read_csv('data/results_Italian_A_2009-2017.txt',encoding = 'gbk')
df_it1.overtime.unique()

array(['1:3', '6:2', '1:1', '3:0', '2:1', '0:1', '4:1', '3:5', '3:1',
       '1:0', '0:5', '3:2', '1:2', '1:4', '2:2', '7:3', '2:0', '4:0',
       '5:4', '0:0', '0:2', '0:3', '2:3', '7:1', '1:5', '5:0', '5:3',
       '2:6', '1:7', '取消', '3:3', '4:3', '3:4', '4:2', '0:4', '5:1', '2:4',
       '6:0', '5:2', '7:0', '4:5', '2:5', '0:7', '1:6', '4:4', '6:3', '6:1'], dtype=object)

In [43]:
df_it1=df_it1.loc[df_it1.overtime!='取消']

In [44]:
df_it1['over_goals'] = pd.to_numeric(df_it1['overtime'].str.split(':').str[0]) + pd.to_numeric(df_it1['overtime'].str.split(':').str[1])
df_it1.head()

         date weekday league       home_away half overtime  over_goals
0  2017-05-22   周日076     意甲   拉齐奥(-1)VS国际米兰  1:2      1:3           4
1  2017-05-21   周日036     意甲   萨索洛(-1)VS卡利亚里  4:1      6:2           8
2  2017-05-21   周日035     意甲    乌迪内斯(-1)VS桑普  1:0      1:1           2
3  2017-05-21   周日034     意甲  尤文图斯(-2)VS克罗托内  2:0      3:0           3
4  2017-05-21   周日033     意甲     热那亚(-1)VS都灵  1:0      2:1           3

In [45]:
df_it1.describe()

        over_goals
count  2950.000000
mean      2.658644
std       1.662754
min       0.000000
25%       1.000000
50%       2.000000
75%       4.000000
max      10.000000

In [46]:
df_it1.loc[df_it1.over_goals>0].describe()

        over_goals
count  2712.000000
mean      2.891962
std       1.527245
min       1.000000
25%       2.000000
50%       3.000000
75%       4.000000
max      10.000000

In [47]:
df_en1 = pd.read_csv('data/results_PremierLeague_2009-2017.txt',encoding = 'gbk')
df_en1.overtime.unique()

array(['1:6', '0:0', '3:1', '2:0', '4:3', '2:1', '0:4', '4:0', '1:4',
       '0:2', '1:2', '0:1', '1:0', '3:0', '2:2', '5:0', '0:3', '1:1',
       '4:2', '1:3', '2:3', '3:2', '3:4', '6:3', '3:3', '4:1', '1:5',
       '5:4', '6:1', '2:4', '5:1', '取消', '0:6', '4:5', '6:2', '2:5', '6:0',
       '0:5', '5:3', '8:0', '3:6', '3:5', '7:0', '5:5', '7:3', '5:2',
       '4:4', '7:1', '8:2', '7:2', '9:1'], dtype=object)

In [48]:
df_en1=df_en1.loc[df_en1.overtime!='取消']

In [49]:
df_en1['over_goals'] = pd.to_numeric(df_en1['overtime'].str.split(':').str[0]) + pd.to_numeric(df_en1['overtime'].str.split(':').str[1])
df_en1.head()

         date weekday league      home_away half overtime  over_goals
0  2017-05-19   周四009     英超   莱切斯特(+1)VS热刺  0:2      1:6           7
1  2017-05-18   周三021     英超   南安普敦(+1)VS曼联  0:0      0:0           0
2  2017-05-17   周二017     英超   曼城(-2)VS西布罗姆  2:0      3:1           4
3  2017-05-17   周二013     英超   阿森纳(-2)VS桑德兰  0:0      2:0           2
4  2017-05-16   周一002     英超  切尔西(-1)VS沃特福德  2:1      4:3           7

In [50]:
df_en1.describe()

        over_goals
count  3009.000000
mean      2.741442
std       1.690560
min       0.000000
25%       2.000000
50%       3.000000
75%       4.000000
max      10.000000

In [51]:
df_en1.loc[df_en1.over_goals>0].describe()

        over_goals
count  2774.000000
mean      2.973684
std       1.552202
min       1.000000
25%       2.000000
50%       3.000000
75%       4.000000
max      10.000000

In [52]:
df_en2 = pd.read_csv('data/results_ChampionsshipLeague_2009-2017.txt',encoding = 'gbk')
df_en2.overtime.unique()

array(['1:1', '1:0', '0:0', '1:2', '3:0', '4:0', '0:3', '2:4', '0:1',
       '1:3', '2:0', '3:3', '3:1', '0:2', '4:1', '2:1', '3:2', '1:4',
       '7:1', '5:0', '4:2', '5:1', '3:5', '2:2', '2:3', '3:4', '取消', '4:4',
       '2:5', '4:3', '0:4', '0:6', '1:5', '6:0', '0:5', '7:2', '6:1',
       '1:6', '5:3', '0:8', '5:2', '5:4', '3:7', '4:6'], dtype=object)

In [53]:
df_en2=df_en2.loc[df_en2.overtime!='取消']

In [54]:
df_en2['over_goals'] = pd.to_numeric(df_en2['overtime'].str.split(':').str[0]) + pd.to_numeric(df_en2['overtime'].str.split(':').str[1])
df_en2.head()

         date weekday league     home_away half overtime  over_goals
0  2017-05-18   周三022     英冠  谢周三(-1)VS哈德斯  0:0      1:1           2
1  2017-05-17   周二014     英冠   雷丁(+1)VS富勒姆  0:0      1:0           1
2  2017-05-14   周日016     英冠  哈德斯(-1)VS谢周三  0:0      0:0           0
3  2017-05-14   周六048     英冠   富勒姆(-1)VS雷丁  0:0      1:1           2
4  2017-05-07   周日032     英冠  狼队(-1)VS普雷斯顿  1:0      1:0           1

In [55]:
df_en2.describe()

        over_goals
count  4355.000000
mean      2.609644
std       1.612451
min       0.000000
25%       1.000000
50%       2.000000
75%       4.000000
max      10.000000

In [56]:
df_en2.loc[df_en2.over_goals>0].describe()

        over_goals
count  4022.000000
mean      2.825709
std       1.484800
min       1.000000
25%       2.000000
50%       3.000000
75%       4.000000
max      10.000000

In [58]:
df_jp1 = pd.read_csv('data/results_JapaneseJ1_2009-2017.txt',encoding = 'gbk')
df_jp1.overtime.unique()

array(['1:1', '3:0', '0:3', '1:2', '3:3', '1:0', '0:2', '2:1', '5:2',
       '1:6', '0:0', '0:1', '2:0', '2:2', '3:2', '6:0', '1:4', '7:0',
       '1:3', '3:1', '2:3', '4:1', '0:4', '4:0', '5:0', '3:4', '2:5',
       '4:2', '2:4', '取消', '1:5', '6:3', '4:4', '5:3', '6:1', '7:1', '0:5',
       '5:1', '5:4', '4:3', '6:4', '2:6', '6:2', '7:2', '3:5', '3:6'], dtype=object)

In [59]:
df_jp1 = df_jp1.loc[df_jp1.overtime!='取消']

In [60]:
def calcuGoals(x):
    x['over_goals'] = pd.to_numeric(x['overtime'].str.split(':').str[0]) + pd.to_numeric(x['overtime'].str.split(':').str[1])
    return x

In [61]:
calcuGoals(df_jp1)

            date weekday league       home_away half overtime  over_goals
0     2017-05-20   周六011     日职  神户胜利(-1)VS东京FC  0:1      1:1           2
1     2017-05-20   周六010     日职  大阪钢巴(-1)VS鸟栖沙岩  2:0      3:0           3
2     2017-05-20   周六007     日职  大宫松鼠(+1)VS大阪樱花  0:0      0:3           3
3     2017-05-20   周六006     日职  横滨水手(-1)VS仙台七夕  1:0      1:1           2
4     2017-05-20   周六005     日职  甲府风林(+1)VS广岛三箭  1:1      1:2           3
5     2017-05-20   周六004     日职  浦和红钻(-1)VS清水鼓动  1:0      3:3           6
6     2017-05-20   周六003     日职  新泻天鹅(-1)VS札幌冈萨  0:0      1:0           1
7     2017-05-20   周六002     日职  磐田喜悦(+1)VS柏太阳神  0:1      0:2           2
8     2017-05-19   周五001     日职  鹿岛鹿角(-1)VS川崎前锋  0:2      0:3           3
9     2017-05-14   周日013     日职  札幌冈萨(+1)VS大阪钢巴  0:1      0:2           2
10    2017-05-14   周日011     日职  大宫松鼠(-1)VS仙台七夕  0:1      2:1           3
11    2017-05-14   周日007     日职  磐田喜悦(+1)VS川崎前锋  0:0      0:2           2
12    2017-05-14   周日006     日职  东京FC(-1)VS柏太阳神  0:1      1:2           3
13    2017-05-14   周日005     日职  大阪樱花(-1)VS广岛三箭  3:1      5:2           7
14    2017-05-14   周日004     日职  横滨水手(-1)VS甲府风林  1:0      1:0           1
15    2017-05-14   周日003     日职  新泻天鹅(+1)VS浦和红钻  1:5      1:6           7
16    2017-05-14   周日002     日职  鹿岛鹿角(-1)VS神户胜利  0:2      1:2           3
17    2017-05-14   周日001     日职  清水鼓动(-1)VS鸟栖沙岩  1:0      1:1           2
18    2017-05-07   周日017     日职  鸟栖沙岩(+1)VS横滨水手  1:0      1:0           1
19    2017-05-07   周日005     日职  甲府风林(+1)VS磐田喜悦  0:0      0:0           0
20    2017-05-07   周日004     日职  仙台七夕(+1)VS东京FC  0:1      0:2           2
21    2017-05-06   周六007     日职  广岛三箭(-1)VS神户胜利  0:1      1:1           2
22    2017-05-06   周六002     日职  柏太阳神(-1)VS大阪樱花  0:0      1:0           1
23    2017-05-06   周六001     日职  札幌冈萨(-1)VS大宫松鼠  0:0      1:0           1
24    2017-05-05   周五002     日职  川崎前锋(-1)VS新泻天鹅  1:0      3:0           3
25    2017-05-05   周五001     日职  大阪钢巴(-1)VS清水鼓动  0:0      1:1           2
26    2017-05-04   周四001     日职  浦和红钻(-1)VS鹿岛鹿角  0:1      0:1           1
27    2017-04-30   周日014     日职  大阪樱花(-1)VS川崎前锋  0:0      2:0           2
28    2017-04-30   周日012     日职  横滨水手(-1)VS大阪钢巴  0:0      0:1           1
29    2017-04-30   周日011     日职  神户胜利(-1)VS甲府风林  0:1      0:1           1
...          ...     ...    ...             ...  ...      ...         ...
2489  2009-04-29   周三001     日职      新泻天鹅VS千叶市原  1:0      2:2           4
2490  2009-04-29   周三001     日职      新泻天鹅VS千叶市原  1:0      2:2           4
2491  2009-04-29   周三001     日职      新泻天鹅VS千叶市原  1:0      2:2           4
2492  2009-04-29   周三001     日职      新泻天鹅VS千叶市原  1:0      2:2           4
2493  2009-04-29   周三001     日职      新泻天鹅VS千叶市原  1:0      2:2           4
2494  2009-04-29   周三001     日职      新泻天鹅VS千叶市原  1:0      2:2           4
2495  2009-04-29   周三001     日职      新泻天鹅VS千叶市原  1:0      2:2           4
2496  2009-04-29   周三001     日职      新泻天鹅VS千叶市原  1:0      2:2           4
2497  2009-04-29   周三001     日职      新泻天鹅VS千叶市原  1:0      2:2           4
2498  2009-04-29   周三001     日职      新泻天鹅VS千叶市原  1:0      2:2           4
2499  2009-04-29   周三001     日职      新泻天鹅VS千叶市原  1:0      2:2           4
2500  2009-04-29   周三001     日职      新泻天鹅VS千叶市原  1:0      2:2           4
2501  2009-04-29   周三001     日职      新泻天鹅VS千叶市原  1:0      2:2           4
2502  2009-04-29   周三001     日职      新泻天鹅VS千叶市原  1:0      2:2           4
2503  2009-04-29   周三001     日职      新泻天鹅VS千叶市原  1:0      2:2           4
2504  2009-04-29   周三001     日职      新泻天鹅VS千叶市原  1:0      2:2           4
2505  2009-04-29   周三001     日职      新泻天鹅VS千叶市原  1:0      2:2           4
2506  2009-04-29   周三001     日职      新泻天鹅VS千叶市原  1:0      2:2           4
2507  2009-04-29   周三001     日职      新泻天鹅VS千叶市原  1:0      2:2           4
2508  2009-04-29   周三001     日职      新泻天鹅VS千叶市原  1:0      2:2           4
2509  2009-04-29   周三001     日职      新泻天鹅VS千叶市原  1:0      2:2           4
2510  2009-04-29   周三001     日职      新泻天鹅VS千叶市原  1:0      2:2           4
2511  2009-04-29   周三001     日职      新泻天鹅VS千叶市原  1:0      2:2           4
2512  2009-04-29   周三001     日职      新泻天鹅VS千叶市原  1:0      2:2           4
2513  2009-04-29   周三001     日职      新泻天鹅VS千叶市原  1:0      2:2           4
2514  2009-04-29   周三001     日职      新泻天鹅VS千叶市原  1:0      2:2           4
2515  2009-04-29   周三001     日职      新泻天鹅VS千叶市原  1:0      2:2           4
2516  2009-04-29   周三001     日职      新泻天鹅VS千叶市原  1:0      2:2           4
2517  2009-04-29   周三001     日职      新泻天鹅VS千叶市原  1:0      2:2           4
2518  2009-04-29   周三001     日职      新泻天鹅VS千叶市原  1:0      2:2           4

[2513 rows x 7 columns]

In [62]:
df_jp1.describe()

        over_goals
count  2513.000000
mean      2.720255
std       1.674359
min       0.000000
25%       1.000000
50%       3.000000
75%       4.000000
max      10.000000

In [63]:
df_jp1.loc[df_jp1.over_goals>0].describe()

        over_goals
count  2345.000000
mean      2.915139
std       1.560787
min       1.000000
25%       2.000000
50%       3.000000
75%       4.000000
max      10.000000

In [64]:
df_jp2 = pd.read_csv('data/results_JapaneseJ2_2009-2017.txt',encoding = 'gbk')
df_jp2.overtime.unique()

array(['奖析讯', '1:2', '3:2', '1:1', '0:5', '2:1', '3:0', '0:3', '1:0',
       '2:0', '0:1', '5:0', '4:1', '0:0', '4:0', '0:2', '1:4', '1:3',
       '3:1', '3:3', '2:2', '2:3', '5:1', '4:2', '0:4', '2:4', '1:6',
       '3:4', '1:5', '5:2', '8:0', '取消', '4:3', '6:2', '4:4', '3:5', '6:1',
       '0:6', '2:5', '7:0', '6:0', '1:7', '2:8', '7:1', '7:2', '3:6'], dtype=object)

In [65]:
df_jp2=df_jp2.loc[df_jp2.overtime!='取消']

In [69]:
df_jp2=df_jp2.loc[df_jp2.overtime!='奖析讯']
calcuGoals(df_jp2)

/Users/weizheng/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

            date weekday league       home_away half overtime  over_goals
3     2017-05-21   周日008     日乙    东京绿茵(-1)VS京都  1:0      1:2           3
4     2017-05-21   周日007     日乙  山形山神(-1)VS山口雷诺  1:0      3:2           5
5     2017-05-21   周日006     日乙  水户蜀葵(+1)VS德岛漩涡  0:1      1:1           2
6     2017-05-21   周日005     日乙  赞岐釜玉(-1)VS群马温泉  1:1      1:2           3
7     2017-05-21   周日003     日乙  金泽塞维(+1)VS福冈黄蜂  0:3      0:5           5
8     2017-05-21   周日002     日乙  松本山雅(-1)VS湘南海洋  0:0      1:2           3
9     2017-05-21   周日001     日乙  冈山绿雉(+1)VS横滨FC  1:0      2:1           3
10    2017-05-17   周三011     日乙  横滨FC(-1)VS赞岐釜玉  1:0      2:1           3
11    2017-05-17   周三010     日乙  东京绿茵(+1)VS千叶市原  0:0      3:0           3
12    2017-05-17   周三009     日乙  长崎航海(-1)VS大分三神  0:0      2:1           3
13    2017-05-17   周三008     日乙  德岛漩涡(-1)VS金泽塞维  1:1      1:1           2
14    2017-05-17   周三007     日乙  群马温泉(+1)VS山口雷诺  1:0      2:1           3
15    2017-05-17   周三006     日乙  湘南海洋(-1)VS福冈黄蜂  0:1      0:3           3
16    2017-05-17   周三005     日乙  名古屋鲸(-1)VS町田泽维  1:0      2:1           3
17    2017-05-17   周三004     日乙  山形山神(+1)VS松本山雅  1:0      1:0           1
18    2017-05-17   周三003     日乙    京都(-1)VS水户蜀葵  0:1      1:1           2
19    2017-05-17   周三002     日乙  岐阜FC(-1)VS熊本深红  0:1      1:2           3
20    2017-05-17   周三001     日乙  爱媛FC(-1)VS冈山绿雉  0:0      2:0           2
21    2017-05-13   周六013     日乙  金泽塞维(+1)VS山形山神  0:0      1:1           2
22    2017-05-13   周六012     日乙  德岛漩涡(-1)VS岐阜FC  0:0      1:1           2
23    2017-05-13   周六011     日乙  熊本深红(+1)VS湘南海洋  0:0      0:1           1
24    2017-05-13   周六008     日乙  千叶市原(-1)VS长崎航海  1:0      5:0           5
25    2017-05-13   周六007     日乙  群马温泉(+1)VS爱媛FC  0:0      0:3           3
26    2017-05-13   周六006     日乙  大分三神(+1)VS名古屋鲸  1:0      4:1           5
27    2017-05-13   周六005     日乙  水户蜀葵(+1)VS横滨FC  0:0      0:0           0
28    2017-05-13   周六004     日乙  松本山雅(-1)VS町田泽维  1:0      1:1           2
29    2017-05-13   周六003     日乙  赞岐釜玉(+1)VS东京绿茵  0:0      0:0           0
30    2017-05-13   周六002     日乙  福冈黄蜂(-1)VS冈山绿雉  0:0      1:0           1
31    2017-05-13   周六001     日乙    山口雷诺(-1)VS京都  0:1      1:1           2
32    2017-05-07   周日016     日乙  东京绿茵(-1)VS横滨FC  1:1      1:1           2
...          ...     ...    ...             ...  ...      ...         ...
4050  2009-04-29   周三012     日乙      东京绿茵VS熊本深红  2:1      2:4           6
4051  2009-04-29   周三011     日乙      札幌冈萨VS爱媛FC  1:0      3:2           5
4052  2009-04-29   周三008     日乙      甲府风林VS湘南海洋  0:0      1:0           1
4053  2009-04-29   周三005     日乙      仙台七夕VS水户蜀葵  1:0      2:1           3
4054  2009-04-29   周三004     日乙      富山胜利VS岐阜FC  1:0      3:0           3
4055  2009-04-29   周三003     日乙      大阪樱花VS横滨FC  1:0      2:0           2
4056  2009-06-24   周三006     日乙      枥木SCVS仙台七夕  0:0      1:2           3
4057  2009-06-24   周三005     日乙      鸟栖沙岩VS富山胜利  0:0      0:0           0
4058  2009-06-24   周三004     日乙      岐阜FCVS德岛漩涡  2:0      3:0           3
4059  2009-06-24   周三003     日乙      冈山绿雉VS水户蜀葵  0:1      0:1           1
4060  2009-06-24   周三002     日乙      札幌冈萨VS横滨FC  0:0      1:1           2
4061  2009-06-24   周三001     日乙      大阪樱花VS爱媛FC  0:0      4:2           6
4062  2009-06-21   周日010     日乙      湘南海洋VS札幌冈萨  1:0      3:2           5
4063  2009-06-21   周日009     日乙      富山胜利VS甲府风林  1:0      1:1           2
4064  2009-06-21   周日008     日乙      冈山绿雉VS岐阜FC  0:0      0:0           0
4065  2009-06-21   周日006     日乙      水户蜀葵VS群马温泉  2:1      2:1           3
4066  2009-06-21   周日004     日乙      仙台七夕VS东京绿茵  0:0      2:2           4
4067  2009-06-21   周日003     日乙      鸟栖沙岩VS大阪樱花  0:0      2:0           2
4068  2009-06-21   周日002     日乙      熊本深红VS枥木SC  0:0      2:0           2
4069  2009-06-20   周六008     日乙      德岛漩涡VS横滨FC  2:0      2:0           2
4070  2009-06-20   周六001     日乙      爱媛FCVS福冈黄蜂  2:0      3:0           3
4071  2009-04-29   周三018     日乙      鸟栖沙岩VS枥木SC  0:1      2:2           4
4072  2009-04-29   周三017     日乙      冈山绿雉VS福冈黄蜂  1:0      1:0           1
4073  2009-04-29   周三014     日乙      德岛漩涡VS群马温泉  1:1      1:3           4
4074  2009-04-29   周三012     日乙      东京绿茵VS熊本深红  2:1      2:4           6
4075  2009-04-29   周三011     日乙      札幌冈萨VS爱媛FC  1:0      3:2           5
4076  2009-04-29   周三008     日乙      甲府风林VS湘南海洋  0:0      1:0           1
4077  2009-04-29   周三005     日乙      仙台七夕VS水户蜀葵  1:0      2:1           3
4078  2009-04-29   周三004     日乙      富山胜利VS岐阜FC  1:0      3:0           3
4079  2009-04-29   周三003     日乙      大阪樱花VS横滨FC  1:0      2:0           2

[4068 rows x 7 columns]

In [70]:
df_jp2.describe()

        over_goals
count  4068.000000
mean      2.469518
std       1.582205
min       0.000000
25%       1.000000
50%       2.000000
75%       3.000000
max      10.000000

In [71]:
df_jp2.loc[df_jp2.over_goals>0].describe()

        over_goals
count  3704.000000
mean      2.712203
std       1.446051
min       1.000000
25%       2.000000
50%       3.000000
75%       3.000000
max      10.000000