In [1]:
import pandas as pd

In [2]:
df_e01617 = pd.read_csv('/Users/weizheng/Data/football/PL0/E0_1617.csv')

In [4]:
df_e01617.shape

(380, 65)

In [11]:
df_e01516 = pd.read_csv('/Users/weizheng/Data/football/PL0/E0_1516.csv', skiprows=0)

In [12]:
df_e01516.shape

(380, 65)

In [13]:
df_merge_e0 = pd.concat([df_e01617, df_e01516])
df_merge_e0.shape

(760, 65)

In [17]:
df_merge_e0.iloc[379:382,]

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
379,E0,21/05/17,Watford,Man City,0,5,A,0,4,A,...,2.80,18,1.75,1.99,1.94,2.00,1.93,18.00,9.70,1.16
0,E0,08/08/15,Bournemouth,Aston Villa,0,1,A,0,0,D,...,1.79,26,-0.50,1.98,1.93,1.99,1.92,1.82,3.88,4.70
1,E0,08/08/15,Chelsea,Swansea,2,2,D,2,1,H,...,1.99,27,-1.50,2.24,2.16,1.80,1.73,1.37,5.04,10.88

In [18]:
df_e01415 = pd.read_csv('/Users/weizheng/Data/football/PL0/E0_1415.csv')
df_e01314 = pd.read_csv('/Users/weizheng/Data/football/PL0/E0_1314.csv')
df_e01213 = pd.read_csv('/Users/weizheng/Data/football/PL0/E0_1213.csv')
df_e01112 = pd.read_csv('/Users/weizheng/Data/football/PL0/E0_1112.csv')
df_e01011 = pd.read_csv('/Users/weizheng/Data/football/PL0/E0_1011.csv')
df_e00910 = pd.read_csv('/Users/weizheng/Data/football/PL0/E0_0910.csv')
df_e00809 = pd.read_csv('/Users/weizheng/Data/football/PL0/E0_0809.csv')
df_e00708 = pd.read_csv('/Users/weizheng/Data/football/PL0/E0_0708.csv')

In [22]:
df_merge_e0 = pd.concat([df_e01617,df_e01516,df_e01415,df_e01314,df_e01213,df_e01112,df_e01011,df_e00910,df_e00809,df_e00708])

In [23]:
df_merge_e0.shape

(3801, 77)

In [21]:
df_merge_e0.tail()

,AC,AF,AR,AS,AST,AY,AwayTeam,B365A,B365D,B365H,...,SBH,SJA,SJD,SJH,VCA,VCD,VCH,WHA,WHD,WHH
375,6.0,11.0,0.0,7.0,4.0,0.0,Fulham,2.10,3.60,3.30,...,3.25,2.10,3.40,3.00,2.20,3.60,3.25,2.1,3.4,2.8
376,4.0,12.0,0.0,12.0,8.0,1.0,Arsenal,1.80,3.75,4.33,...,4.20,1.73,3.40,4.33,1.85,3.75,4.30,1.7,3.4,4.2
377,4.0,9.0,0.0,18.0,12.0,1.0,Liverpool,2.62,3.40,2.62,...,2.50,2.50,3.40,2.50,2.65,3.40,2.70,2.5,3.1,2.5
378,8.0,21.0,0.0,13.0,8.0,2.0,Aston Villa,2.20,3.50,3.20,...,2.95,2.25,3.25,2.88,2.25,3.60,3.10,2.1,3.4,2.8
379,12.0,5.0,0.0,11.0,6.0,2.0,Man United,1.22,6.50,12.00,...,12.00,1.25,5.00,10.00,1.25,6.00,13.00,1.2,5.5,9.5

In [24]:
df = df_merge_e0[['Date','HomeTeam','AwayTeam','FTHG','FTAG','HTHG','HTAG','B365H','B365D','B365A','BbAv>2.5','BbAv<2.5']]

In [25]:
df.shape

(3801, 12)

In [26]:
df.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,B365H,B365D,B365A,BbAv>2.5,BbAv<2.5
0,13/08/16,Burnley,Swansea,0.0,1.0,0.0,0.0,2.40,3.3,3.25,2.30,1.61
1,13/08/16,Crystal Palace,West Brom,0.0,1.0,0.0,0.0,2.00,3.3,4.50,2.50,1.52
2,13/08/16,Everton,Tottenham,1.0,1.0,1.0,0.0,3.20,3.4,2.40,2.05,1.77
3,13/08/16,Hull,Leicester,2.0,1.0,1.0,0.0,4.50,3.6,1.91,2.19,1.67
4,13/08/16,Man City,Sunderland,2.0,1.0,1.0,0.0,1.25,6.5,15.00,1.53,2.48

In [27]:
df.dtypes

Date         object
HomeTeam     object
AwayTeam     object
FTHG        float64
FTAG        float64
HTHG        float64
HTAG        float64
B365H       float64
B365D       float64
B365A       float64
BbAv>2.5    float64
BbAv<2.5    float64
dtype: object

In [35]:
df =df.fillna(0)
#df.fillna(0)[['FTHG','FTAG','HTHG','HTAG']] = (df[['FTHG','FTAG','HTHG','HTAG']]).astype(int)

In [36]:
df[['FTHG','FTAG','HTHG','HTAG']] = (df[['FTHG','FTAG','HTHG','HTAG']]).astype(int)

In [37]:
df.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,B365H,B365D,B365A,BbAv>2.5,BbAv<2.5
0,13/08/16,Burnley,Swansea,0,1,0,0,2.40,3.3,3.25,2.30,1.61
1,13/08/16,Crystal Palace,West Brom,0,1,0,0,2.00,3.3,4.50,2.50,1.52
2,13/08/16,Everton,Tottenham,1,1,1,0,3.20,3.4,2.40,2.05,1.77
3,13/08/16,Hull,Leicester,2,1,1,0,4.50,3.6,1.91,2.19,1.67
4,13/08/16,Man City,Sunderland,2,1,1,0,1.25,6.5,15.00,1.53,2.48

In [38]:
df['HTG']=df['HTHG']+df['HTAG']
df['FYG']=df['FTHG']+df['FTAG']
df.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,B365H,B365D,B365A,BbAv>2.5,BbAv<2.5,HTG,FYG
0,13/08/16,Burnley,Swansea,0,1,0,0,2.40,3.3,3.25,2.30,1.61,0,1
1,13/08/16,Crystal Palace,West Brom,0,1,0,0,2.00,3.3,4.50,2.50,1.52,0,1
2,13/08/16,Everton,Tottenham,1,1,1,0,3.20,3.4,2.40,2.05,1.77,1,2
3,13/08/16,Hull,Leicester,2,1,1,0,4.50,3.6,1.91,2.19,1.67,1,3
4,13/08/16,Man City,Sunderland,2,1,1,0,1.25,6.5,15.00,1.53,2.48,1,3

In [59]:
df.loc[df.FYG-df.HTG>=2].describe()

,FTHG,FTAG,HTHG,HTAG,B365H,B365D,B365A,BbAv>2.5,BbAv<2.5,HTG,FYG
count,1684.000000,1684.000000,1684.000000,1684.000000,1684.000000,1684.000000,1684.000000,1684.000000,1684.000000,1684.000000,1684.000000
mean,2.225059,1.687055,0.716746,0.511283,2.722631,4.048979,5.213854,1.862672,1.966366,1.228029,3.912114
std,1.399793,1.241029,0.842953,0.708486,1.812945,1.121730,4.344857,0.222418,0.293309,1.054216,1.443117
min,0.000000,0.000000,0.000000,0.000000,1.090000,3.000000,1.220000,1.250000,1.450000,0.000000,2.000000
25%,1.000000,1.000000,0.000000,0.000000,1.570000,3.400000,2.400000,1.700000,1.750000,0.000000,3.000000
50%,2.000000,2.000000,1.000000,0.000000,2.100000,3.600000,3.600000,1.875000,1.900000,1.000000,4.000000
75%,3.000000,2.000000,1.000000,1.000000,3.000000,4.200000,6.000000,2.030000,2.110000,2.000000,5.000000
max,9.000000,7.000000,5.000000,5.000000,15.000000,13.000000,29.000000,2.710000,3.870000,6.000000,11.000000