In [1]:
import seaborn as sns
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [2]:
x = iris.drop(['species'], axis=1)
y = iris['species']

In [6]:
x.shape

(150, 4)

In [5]:
import numpy as np
# X = x[:, np.newaxis]
X = np.reshape(x)

TypeError: unhashable type: 'slice'

In [1]:
import pandas as pd

In [4]:
import os

In [5]:
os.getcwd()

'C:\\Users\\wei\\PycharmProjects\\Sk_learn'

In [6]:
df = pd.read_csv('D:/daten/CSV/Data_Mining/kaggle/IMDB_Movies_Rating/movie_metadata.csv')

In [7]:
df.head(3)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000

In [8]:
df.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

### movies_rating数据集

In [11]:
rpath = os.path.expanduser('D:/daten/CSV/Data_Mining/movielens/ratings.dat')
rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv(rpath, sep='::', header=None, names=rnames, engine='python')

In [12]:
ratings.head(3)

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968

In [16]:
ratings =ratings.drop('timestamp', axis=1)

In [17]:
ratings.shape

(1000209, 3)

In [21]:
ratings.max()

user_id     6040
movie_id    3952
rating         5
dtype: int64

In [23]:
ratings.head(3)

   user_id  movie_id  rating
0        1      1193       5
1        1       661       3
2        1       914       3

In [24]:
import numpy as np
from scipy.sparse import csr_matrix

In [42]:
MAX_PID = 3952
MAX_UID = 6040
def read_urm():
    urm = np.zeros(shape=(MAX_UID+1, MAX_PID+1), dtype=np.float32)
    for i in range(len(ratings)):
        urm[int(ratings.user_id[i]), int(ratings.movie_id[i])] = float(ratings.rating[i])
    return csr_matrix(urm, dtype=np.float32)

In [43]:
read_urm()

<6041x3953 sparse matrix of type '<class 'numpy.float32'>'
	with 1000209 stored elements in Compressed Sparse Row format>

In [34]:
len(list(ratings.movie_id.unique()))

3706

In [35]:
len(list(ratings.user_id.unique()))

6040

In [45]:
def read_user_test():
    u_test = {}
    for i in range(1000):
        u_test[int(ratings.user_id[i])] =[]
    return u_test

In [47]:
u_test = read_user_test()

In [48]:
len(u_test)

10

In [51]:
ratings.iloc[2][0]

1

In [ ]:
def get_movie_seen():
    movie_seen = dict()
    for i in range(len(ratings)):
        result = ratings.iloc[i]
        try:
            movie_seen[result[0]].append(result[1])
        except:
            movie_seen[result[0]] = []
             movie_seen[result[0]].append(result[1])