In [1]:
from sklearn.model_selection import KFold, train_test_split
from sklearn import datasets
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier

In [8]:
dataset = datasets.load_iris()

In [10]:
X_data = dataset.data
y_data = dataset.target

In [15]:
X_data.shape, y_data.shape

((150L, 4L), (150L,))

In [19]:
LinReg = LinearRegression()
tree = DecisionTreeClassifier()

In [19]:
LinReg.fit(X_data,y_data)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [21]:
LinReg.score(X_data,y_data)

0.93042236753315966

In [23]:
X_train,X_test, y_train, y_test = train_test_split(X_data, y_data,test_size=0.3, random_state =3)

In [60]:
print LinReg.fit(X_train, y_train).score(X_test,y_test)
print '-'*40
print tree.fit(X_train, y_train).score(X_test,y_test)

0.927905363406
----------------------------------------
0.955555555556

In [61]:
y_pred1 = LinReg.predict(X_test)
y_pred2 = tree.predict(X_test)

In [64]:
from sklearn import metrics
print metrics.confusion_matrix(y_test, y_pred2)

[[17  0  0]
 [ 0 12  2]
 [ 0  0 14]]

In [42]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [85]:
k_fold = KFold(n_splits =5)

In [86]:
[tree.fit(X_data[train],y_data[train]).score(X_data[test],y_data[test]) for train, test in k_fold.split(X_data)]

[1.0,
 0.96666666666666667,
 0.8666666666666667,
 0.93333333333333335,
 0.90000000000000002]

In [82]:
from sklearn.model_selection import cross_val_score

In [2]:
tree2 = DecisionTreeClassifier()
scores =cross_val_score(tree2, X_data, y_data, cv=5)
print scores , scores.std()**2

SyntaxError: invalid syntax (<ipython-input-2-3391d3223a74>, line 3)

### 广州地铁信用

In [1]:
import pandas as pd
df = pd.read_csv('sample.csv', encoding = 'gbk', header =0)
df.head()

   ID 性别     年龄  职业 信用信息 信用违约  犯罪记录  病史 每月乘坐地铁次数  安检级别
0   1  M  20-35  公职    有    无     0   0      <10     0
1   2  F  20-35  个体    有    无     0   0      <10     1
2   3  M  35-50  个体    无    无     0   0      >30     0
3   4  M  35-50  个体    无    无     0   0      >30     0
4   5  F  20-35  私营    有    有     0   0    10-30     1

In [2]:
X_data = df.ix[:,:-1]

C:\Users\wei\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  """Entry point for launching an IPython kernel.

In [3]:
y_data = df.ix[:,-1]

In [18]:
y_data

0     0
1     1
2     0
3     0
4     1
5     0
6     1
7     0
8     0
9     0
10    1
11    0
12    0
13    0
14    0
15    1
16    0
17    0
18    0
19    0
Name: 安检级别, dtype: int64

In [21]:
df.dtypes

ID           int64
性别          object
年龄          object
职业          object
信用信息        object
信用违约        object
犯罪记录         int64
病史           int64
每月乘坐地铁次数    object
安检级别         int64
dtype: object

In [4]:
mapping = {'<10':1,'10-30':2,'>30':3}

In [5]:
df['每月乘坐地铁次数'] = df['每月乘坐地铁次数'].map(mapping)

In [6]:
df.head()

   ID 性别     年龄  职业 信用信息 信用违约  犯罪记录  病史  每月乘坐地铁次数  安检级别
0   1  M  20-35  公职    有    无     0   0         1     0
1   2  F  20-35  个体    有    无     0   0         1     1
2   3  M  35-50  个体    无    无     0   0         3     0
3   4  M  35-50  个体    无    无     0   0         3     0
4   5  F  20-35  私营    有    有     0   0         2     1

In [7]:
from sklearn.preprocessing import OneHotEncoder

In [10]:
from sklearn.feature_extraction import DictVectorizer

In [11]:
df['犯罪记录']=OneHotEncoder(df['犯罪记录'])

In [12]:
OneHotEncoder()

ID           int64
性别          object
年龄          object
职业          object
信用信息        object
信用违约        object
犯罪记录        object
病史           int64
每月乘坐地铁次数     int64
安检级别         int64
dtype: object

In [22]:
pd.factorize(df['职业'])[0]

array([0, 1, 1, 1, 2, 2, 3, 4, 4, 0, 2, 2, 2, 4, 3, 2, 3, 0, 2, 0], dtype=int64)