In [5]:
import sqlanydb

In [6]:
sqlanydb.connect( uid = 'DBA',
                  pwd = 'SQL',
                  host = '10.90.2.52:2688',
                  dbn = 'IQTEST' )

TypeError: sequence item 0: expected str instance, NoneType found

In [42]:
# sqlanydb.connect(UID = 'DBA', PWD = 'SQL', DataSourceName= 'SYBASE_TEST', dbn = 'IQTEST')

In [1]:
import pyodbc

In [25]:
conn_dba=pyodbc.connect('DSN=SYBASE_TEST;UID=DBA;PWD=SQL')

In [26]:
cursor=conn_dba.cursor()

In [27]:
cursor.execute('sp_iqcontext')

In [28]:
for row in cursor:
    print(row)

('CONNECTION', 2, 'iqtest', 'DBA', 0, 1, 0, datetime.datetime(2017, 9, 15, 11, 39, 44), 3, 'No command    ', 'NO COMMAND')
('CONNECTION', 22, 'iqtest', 'DBA', 0, 1, 0, datetime.datetime(2017, 9, 15, 15, 24, 38), 37, 'No command    ', 'NO COMMAND')
('CONNECTION', 29, 'iqtest', 'DBA', 0, 1, 774, datetime.datetime(2017, 9, 15, 16, 1, 46), 46, 'No command    ', 'NO COMMAND')
('CONNECTION', 31, 'iqtest', 'DBA', 1, 2, 775, datetime.datetime(2017, 9, 15, 16, 2, 56), 48, 'No command    ', 'NO COMMAND')
('CURSOR    ', 31, 'iqtest', 'DBA', 1, 0, 775, datetime.datetime(2017, 9, 15, 16, 16, 55), 48, '   Running    ', 'select * from DBA.tai_entry_his')
('CONNECTION', 36, 'iqtest', 'DBA', 0, 1, 824, datetime.datetime(2017, 9, 15, 16, 16, 32), 54, 'No command    ', 'NO COMMAND')
('CONNECTION', 37, 'iqtest', 'DBA', 0, 1, 833, datetime.datetime(2017, 9, 15, 16, 17, 29), 55, 'No command    ', 'NO COMMAND')
('CONNECTION', 38, 'iqtest', 'DBA', 0, 1, 842, datetime.datetime(2017, 9, 15, 16, 20, 39), 56, '         2    ', 'sp_iqcontext')

In [3]:
import pandas as pd

In [35]:
df_tad_date = pd.read_sql('select * from tad_date', con=conn_dba)

In [36]:
df_tad_date.head(3)

,date_id,date_desc,date_en_desc,dow_id,dow_desc,dow_en_desc,mth_id,mth_desc,mth_en_desc,quarter_id,...,quarter_en_desc,year_id,year_desc,year_en_desc,workday_flag,weekday_flag,start_time,end_time,pub_flag,sch_flag
0,20151231,2015年12月31日,2015-12-31,4,星期四,thu,12,12月,dec,4,...,Q4,2015,2015年,2015,1,0,2015-12-31 02:30:00,2016-01-01 02:29:59,None,None
1,20160101,2016年01月01日,2016-01-01,5,星期五,fri,1,01月,jan,1,...,Q1,2016,2016年,2016,2,0,2016-01-01 02:30:00,2016-01-02 02:29:59,None,None
2,20160102,2016年01月02日,2016-01-02,6,星期六,sat,1,01月,jan,1,...,Q1,2016,2016年,2016,2,1,2016-01-02 02:30:00,2016-01-03 02:29:59,None,None

### sybase_iq

In [2]:
conn_pcidata = pyodbc.connect('DSN=sybase_odbc;UID=pcidata;PWD=pcidata')

In [4]:
df_tad_date = pd.read_sql('select * from tad_date', con=conn_pcidata)
df_tad_date.head(3)

DatabaseError: Execution failed on sql 'select * from tad_date': ('42S02', "[42S02] [Oracle DataDirect][ODBC Sybase IQ Wire Protocol driver][Sybase Adaptive Server IQ]ASA Error -141: Table 'tad_date' not found (2706) (SQLExecDirectW)")

In [7]:
import sqlalchemy

In [10]:
import urllib.parse

In [11]:
quoted = urllib.parse.quote('DRIVER={FreeTDS};Server=10.90.1.127;Database=ICCSDW;UID=pcidata;PWD=pcidata;TDS_Version=8.0;Port=2688;')

In [1]:
sqlalchemy.create_engine('mssql+pyodbc:///?odbc_connect={}'.format(quoted))
sqlalchemy.create_engine('sybase+pysybase://pcidata:pcidata@<dsn>/[database name]'.format(quoted))

NameError: name 'sqlalchemy' is not defined

In [ ]:
import pyodbc
conn_iccs=pyodbc.connect('DSN=syba;UID=DBA;PWD=SQL')